{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Portfolio-Text -->
      <div class="container-fluid pb-5 portfolio-text">
         <div class="row">
            <div class="col-md-7 offset-md-1 col-sm-12">
               <h2>Sooryakiran T
               </h2>
            </div>
         </div>
         <div class="row">
            <div class="col-md-7 offset-md-1 col-sm-12">
               <p class="pb-5 pt-5">
                <h2><p>hey,</p></h2>
               <h3>  I am Sooryakiran. lives in kannur ,kerala .BCA Graduate working on skill development . Now I'm working hard to Develop a Tech career in Web Development. Interested in creative designs webpages and want to focus more on Front End Development.</h3> 
               </p>
            </div>
         </div>
      </div>
      <!-- End Portfolio-Text -->
      <!-- Gallery -->
      <div class="scrollblock">
         <div class="container-fluid pt-10">
            <div class="row justify-content-md-center ">
               <div class="col-md-10 col-sm-12">
                  <div class="card-columns">
                     <div class="card card-hover h-100" >
                        <div class="card-body">
                           <a href="{% url 'app7:index' %}">
                              <img class="{% static 'card-img-top' %}" src="{% static 'img/img-1.JPG' %}" alt="Card image cap">
                              <div class="reveal h-100 p-2 d-flex ">
                                 <div class="w-100 align-self-center">
                                    <p>alone</p>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="card card-hover h-100" >
                        <div class="card-body">
                           <a href="{% url 'app7:index' %}">
                              <img class="card-img-top" src="{% static 'img/img-2.JPG' %}" alt="Card image cap">
                              <div class="reveal h-100 p-2 d-flex ">
                                 <div class="w-100 align-self-center">
                                    <p>azheekal harbour</p>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="card card-hover h-100">
                        <div class="card-body">
                           <a href="{% url 'app7:index' %}">
                              <img class="{% static 'card-img-top' %}" src="{% static 'img/img-3.PNG' %}" alt="Card image cap">
                              <div class="reveal h-100 p-2 d-flex ">
                                 <div class="w-100 align-self-center">
                                    <p>pottan theyyam</p>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="card card-hover h-100">
                        <div class="card-body">
                           <a href="{% url 'app7:index' %}">
                              <img class="{% static 'card-img-top' %}" src="{% static 'img/img-4.png' %}" alt="Card image cap">
                              <div class="reveal h-100 p-2 d-flex ">
                                 <div class="w-100 align-self-center">
                                    <p>beach</p>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="card card-hover h-100">
                        <div class="card-body">
                           <a href="{% url 'app7:index' %}">
                              <img class="card-img-top" src="{% static 'img/img-5.png' alt="Card image cap' %}">
                              <div class="reveal h-100 p-2 d-flex ">
                                 <div class="w-100 align-self-center">
                                    <p>nandi hills</p>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="card card-hover h-100">
                        <div class="card-body">
                           <a href="{% url 'app7:index' %}">
                              <img class="card-img-top" src="{% static 'img/img-6.png' %}" alt="Card image cap">
                              <div class="reveal h-100 p-2 d-flex ">
                                 <div class="w-100 align-self-center">
                                    <p>madayipara</p>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="card card-hover h-100">
                        <div class="card-body">
                           <a href="{% url 'app7:index' %}">
                              <img class="card-img-top" src="{% static 'img/img-7.png' %}" alt="Card image cap">
                              <div class="reveal h-100 p-2 d-flex ">
                                 <div class="w-100 align-self-center">
                                    <p>nandi hills</p>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="card card-hover h-100">
                        <div class="card-body">
                           <a href="{% static 'index.html' %}">
                              <img class="{% static 'card-img-top' %}" src="{% static 'img/img-8.png' %}" alt="Card image cap">
                              <img class="{% static 'card-img-top' %}" src="{% static 'img/photo-8.jpg' %}" alt="Card image cap">
                              <div class="reveal h-100 p-2 d-flex ">
                                 <div class="w-100 align-self-center">
                                    <p>madayi</p>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="card card-hover h-100">
                        <div class="card-body">
                           <a href="{% static 'index.html' %}">
                              <img class="{% static 'card-img-top' %}" src="{% static 'img/img-9.png' %}" alt="Card image cap">
                              <div class="reveal h-100 p-2 d-flex ">
                                 <div class="w-100 align-self-center">
                                    <p>Magna eget rutrum</p>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End Gallery -->
{% endblock %}